# C:\Users\Valdemir Goncalves\Downloads\Projetos Maio\Fildemora Pro\client\.env

VITE_API_URL=http://localhost:5000/api/v1
VITE_SUPABASE_URL=PASTE_YOUR_SUPABASE_URL_HERE
VITE_SUPABASE_ANON_KEY=PASTE_YOUR_SUPABASE_ANON_KEY_HERE
VITE_PAYPAL_CLIENT_ID=Aa25FRjiEwUDytarZfIMSze9QNoQ-T0002JPb-JXcztlimeFaH8U7IsRIG5B0tMyEKVfSIj3v4cDeVHX
VITE_PAYPAL_PLAN_ID=P-65W98001GA940580KNH4KGVQ