

SERVER_PORT=5000
CLIENT_URL=http://localhost:3000

QUICKBOOKS_CLIENT_ID=ABegS3qEYpfTMG9wEiHtDrhZkt8GNm3B4xEDOgjvEzPySUp5zc
QUICKBOOKS_CLIENT_SECRET=LO7sisGE035iGwrElbGi0Xe79saROh4TrmZ8RJyN
QUICKBOOKS_REDIRECT_URI=http://localhost:5000/api/v1/quickbooks/callback
QUICKBOOKS_ENVIRONMENT=sandbox

TOKEN_ENCRYPTION_SECRET=xxx