# PayPal
PAYPAL_CLIENT_ID=Aa25FRjjEwUDytarZfIMSze9QNoQ-T0002JPb-JXcztlimeFaH8U7lsRIG5B0tMyEKVfSlj3v4cDeVHX
PAYPAL_CLIENT_SECRET=EK1hnNzcV1XKcZF_d8mJuBORH-BxkVZkkno-KdwUmu7Mln8zIz3pW1jvI4HdPeQo5p1PQWcxP3WxfVhz
PAYPAL_PLAN_ID=YOUR_PAYPAL_150_MONTHLY_PLAN_ID
PAYPAL_WEBHOOK_ID=YOUR_PAYPAL_WEBHOOK_ID
PAYPAL_ENVIRONMENT=sandbox